<section>

    <div class="container">

        <div class="about" id="history" data-aos="fade-up">

            <svg class="intro__icon">
                <use xlink:href="#about"></use>
            </svg>   

            <h2 class="about__title">Расскажите о себе</h2>
            <p class="about__subtitle">Напишите несколько предложений, чем привлекла наша вакансия что вы ожидаете от работы у нас.</p>

            <form class="about__form" action="/">
            <textarea class="about__area" name="text" placeholder="Понравилось тем что, хорошо подходет для заработка и интересны новые проекты"></textarea>
            <button class="about__btn" type="submit">Готово</button>
            </form>
        </div>

    </div>

</section>