
<section>

    <div class="container">

        <div class="experience" id="exp" data-aos="fade-up">

            <svg class="experience__icon">
                <use xlink:href="#experience"></use>
            </svg>   

            <h2 class="experience__title">Расскажите о своем опыте</h2>

        </div>

        <div class="experience__group" data-aos="fade-up">

        <div>

            <div class="experience__item">
                <input type="checkbox" id="bem" checked="checked">
                <label for="bem">БЭМ/OOCSS</label>
            </div>

            <div class="experience__item">
                <input type="checkbox" id="pre" checked="checked">
                <label for="pre">Stylus/LESS/SASS</label>
            </div>  

            <div class="experience__item">
                <input type="checkbox" id="svg" checked="checked">
                <label for="svg">Работаю с SVG</label>
            </div>

        </div><!-- experience__row -->

        <div>
            
            <div class="experience__item">
                <input type="checkbox" id="valid" checked="checked">
                <label for="valid">Верстаю семантично</label>
            </div>

            <div class="experience__item">
                <input type="checkbox" id="es">
                <label for="es">ES2015/ES2016</label>
            </div>
            
            <div class="experience__item">
                <input type="checkbox" id="gulp" checked="checked">
                <label for="gulp">Gulp/GRUNT</label>
            </div>
  

        </div><!-- experience__row -->

        <div class="experience__row">

            <div class="experience__item">
                <input type="checkbox" id="webpack">
                <label for="webpack">Webpack</label>
            </div> 

            <div class="experience__item">
                <input type="checkbox" id="jQuery" checked="checked">
                <label for="jQuery">jQuery</label>
            </div>

            <div class="experience__item">
                <input type="checkbox" id="git" checked="checked">
                <label for="git">Ипользую Git</label>
            </div>



        </div><!-- experience__row -->

        </div><!-- experience__group -->

 
    </div><!-- container -->

</section>