<header class="header" id="header">

    <div class="container">
        <nav class="nav" id="nav">
            <a href="#" class="nav__link active" data-scroll="#me">Личная информация</a>
            <a href="#" class="nav__link" data-scroll="#exp">Опыт</a>
            <a href="#" class="nav__link" data-scroll="#javascript">JavaScript</a>
            <a href="#" class="nav__link" data-scroll="#history">О себе</a>
        </nav>

        <button class="burger" type="button" id="navToggle"> 
            <img class="burger__icon" src="../../assets/img/burger.svg" alt="">
        </button>
    </div>

    

</header>