
<section>
    <div class="container">

        <div class="js" id="javascript" data-aos="fade-up">

            <svg class="intro__icon">
                <use xlink:href="#js"></use>
            </svg>   

            <div class="js__title">Уровень владения JavaScript</div>

            <div class="js__point">
                <div class="js__text">Не владею</div>
                <div class="js__text">Использую готовые решения</div>
                <div class="js__text">Использую готовые решения и умею и переделывать</div>
                <div class="js__text">Пишу сложный JS с нуля</div>
            </div>

            <div class="js__progres">

                <span class="js__dots"></span>
                <span class="js__dots"></span>
                <span class="js__dots"></span>
                <span class="js__dots"></span>

                <span class="js__white"></span>

                <svg class="js__icon">
                    <use xlink:href="#js__icon"></use>
                </svg> 
            </div>
            
        </div>
    </div>
</section>